<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>New Staff</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet"/>
	<link href="../css/jquery.dataTables.min.css" rel="stylesheet"/>
	<link href="../css/normal.css" rel="stylesheet"/>
	<style>
		
	</style>
</head>
<body>
	<form id="app" class="form-inline">
		<div class="container-fluid">
			<div class="row">
            	<div class='col-lg-1'></div>
            	<div class='col-lg-10'>
            		<br/><br/>
					<ul class='nav nav-tabs'>
						<li v-for="t in tabs" role='presentation' :class="{active:tab === t}"><a href="javascript: void(0)" @click="open(t)">{{t}}</a></li>
					</ul>
					<br/>
					<h3><u>{{tab}} Staff</u></h3>
					<br/>
					<div v-if="tab === tabs[0]">
						<table>
							<tr><td>Current PN :	</td><td>&nbsp;&nbsp;&nbsp;<input v-model="cpn"/></td></tr>
							<tr><td>Previous PN :	</td><td>&nbsp;&nbsp;&nbsp;<input v-model="ppn"/></td></tr>
						</table>
					</div>
					<div v-else>
						<table>
							<tr><td>CN Number :		</td><td>&nbsp;&nbsp;&nbsp;<input v-model="cn"/></td></tr>
						</table>
					</div>
					<br/>
					<button type="button" class="btn btn-primary" @click="compare()">Submit</button>
					<hr/><br/>
					<div v-if="cvs.length !== 0 && pvs.length !== 0">
						<table>
							<tr>
								<td>Current Version :	</td>
								<td>&nbsp;&nbsp;&nbsp;
									<select v-model="cIndex" :style="{'background-color':(cIndex === -1?'white':cvs[cIndex].color)}">
										<option v-for="(item, index) in cvs" :value="index" :style="{'background-color':item.color}">{{item.value}}</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Previous Version :	</td>
								<td>&nbsp;&nbsp;&nbsp;
									<select v-model="pIndex" :style="{'background-color':(pIndex === -1?'white':pvs[pIndex].color)}">
										<option v-for="(item, index) in pvs" :value="index" :style="{'background-color':item.color}">{{item.value}}</option>
									</select>
								</td>
							</tr>
						</table>
						<br/>
						<button type="button" class="btn btn-primary" @click="bom2()">Compare</button>
					</div>
					<hr/><br/>
					<div v-if="list.length > 0">
						{{table_title}}
						<table width="100%" border="1" class="servicesT">
							<tr>
								<td v-for="t in titles" class="servHd" nowrap>{{t}}</td>
							</tr>
							<tr v-for="item in list">
								<td v-for="str in item" v-html="str" nowrap></td>
							</tr>
						</table>
						<br/>
						<button type="button" class="btn btn-primary" @click="excelDownload()">Export</button>
					</div>
            	</div>
            	<div class='col-lg-1'></div>
            </div>
		</div>
	</form>

	<script src="../js/jquery-2.1.3.min.js"></script>
	<script src="../js/jquery.blockUI.js"></script>
	<script src="../js/jquery.form.js"></script>
	<script src="../js/es6-promise.auto.4.1.1.js"></script>
    <script src="../js/axios.min.0.18.0.js"></script>
    <script src="../js/vue.min.2.5.21.js"></script>
    <script src="../js/webtoolkit.base64.js"></script>
    <script src="../js/ajax.axios.0.3.js"></script>
    <script src="../js/notify.js"></script>
    <script>
    	// add iframe page to use
    	var ajax_jsp = 'ooo.ajax.0.1.jsp';
    	
	    var app = new Vue({
	   		el: '#app',
	   		data: {
	   			tabs:			['Query', 'Create'],
	   			tab:			'Staff',

	   			titles:			['Type', 'PN'],
	   			list:			[]
	   		},
	   		methods: {
	   			open: function (o) {
	   				this.tab = o;
	   				this.clear_data();
	   			},
	   			clear_data: function () {

	   			},
	   			clear_select: function () {

	   			},
	   			clear_table: function () {
	   	
	   			}

	   		},
	   		mounted: function () {

        	}
	    });
	    
    </script>
</body>
</html>